.header {
  height: 119vh;
  width: 100vw;
  background-color: white;
  padding-top: 7rem;
  background-image: url("../../assets/i6.JPG");
  background-size: cover;
  background-position: center;
  position: absolute;
}
.header_shader {
  height: 115vh;
  width: 100vw;
  top: 7.2rem;
  position: absolute;
  background: linear-gradient(to top, white, transparent, transparent);
  z-index: 2;
  pointer-events: none;
}
.two {
  background: linear-gradient(to top, white, transparent);
}
.heading {
  position: fixed;
  top: 12rem;
  color: #01a3bc;
  font-size: 5.5rem;
  font-weight: 700;
  z-index: 0;
  text-align: center;
  -webkit-text-stroke: 1.5px white;
  transition: 0.5s ease-out;
}
@media (min-width: 1180px) {
  .heading:hover {
    font-size: 5.51rem;
    color: #02bfdc;
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  }
}

.Intro,
.MissionVision,
footer {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  z-index: 3;
}
.Intro {
  top: 117vh;
}
.MissionVision {
  top: 205vh;
  padding-bottom: 18rem;
}
footer {
  top: 347vh;
  background-color: red;
  z-index: 4;
}
.about_header,
.mission_container {
  box-sizing: border-box;
  padding-top: 7rem;
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
}
.about_heading,
.mission_heading {
  text-align: center;
  border-bottom: 2px solid #01a3bc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #01a3bc;
}
.about_text,
.mission_text {
  text-align: justify;
  box-sizing: border-box;
  max-width: 80vw;
  padding-top: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}
.mission_header {
  height: 100vh;
  width: 100vw;
  /* background-color: white; */
}
.mission_header {
  box-sizing: border-box;
  display: grid;
  padding-top: 10rem;
  gap: 10rem;
}
@media (max-width: 1180px) {
  .two {
    height: 102.2vh;
  }
  .heading {
    top: 17.5rem;
    width: 100vw;
    font-size: 2rem;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-text-stroke: 0.5px white;
  }
  .Intro {
    display: grid;
    box-sizing: border-box;
    padding-top: 2rem;
  }
  .about_header,
  .mission_container {
    padding-top: 0rem;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    transform: translateY(-7rem);
    background-color: white;
  }
  .about_heading,
  .mission_heading {
    border-bottom: 2px solid #01a3bc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #01a3bc;
  }
  .about_text,
  .mission_text {
    max-width: 90vw;
    padding-top: 0.75rem;
    font-size: 0.95rem;
    line-height: 1.25rem;
    text-align: justify;
  }
}
