:root {
  font-family: "Montserrat", sans-serif;
}
body,
html {
  color: white;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  user-select: none;
  background-color: black;
}
.App {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #01a3bc;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
}
