nav {
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  border-radius: 0 0 5px 5px;
  position: fixed;
  z-index: 10;
  align-items: center;
  background-color: white;
  grid-template-columns: 1fr 1.2fr;
  user-select: none;
}
.iedc_logo {
  height: 60px;
  width: auto;
  overflow: hidden;
  transform: translateX(2rem);
}
.idec_nav {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  align-items: center;
  transform: translateX(-2rem);
}
.iedc_nav_option {
  height: 60%;
  width: 110px;
  text-align: center;
  display: grid;
  align-items: center;
  cursor: pointer;
  font-size: 1.15rem;
  transition: 0.5s ease-in-out;
  color: black;
  font-weight: 400;
}
.iedc_nav_option:hover,
.iedc_nav_option:focus {
  transform: translateY(-5px);
  color: #01a3bc;
}
.hamburger {
  display: none;
}

@media (max-width: 1180px) {
  nav {
    position: relative;
    border-radius: 0;
    justify-items: center;
    overflow: hidden;
  }
  .idec_nav {
    display: none;
  }
  .hamburger {
    display: block;
    align-self: flex-end;
    text-align: right;
  }
  .navMobile {
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    transition: 0.4s cubic-bezier(0.15, 1.42, 0.67, 1.07);
  }

  .navMobile .iedc_logo {
    display: none;
  }
  .navMobile .idec_nav {
    all: unset;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    background-color: white;
    padding-top: 1.2rem;
  }
  .navMobile .iedc_nav_option {
    width: 100%;
    height: 0%;
    color: black;
    font-weight: 400;
  }
  .arrow {
    place-content: center;
  }
}
